<div class="card bg-dark text-white">
  <div class="card-header"></div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="name" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="hidden" class="form-control" [(ngModel)]="client.id" name="id">
          <input type="text" class="form-control" [(ngModel)]="client.name" name="name">
        </div>
      </div>

      <div class="form-group row">
        <label for="addres" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.addres" name="addres">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.email" name="email">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!client.id">Crear</button>
          <button class="btn btn-primary" role="button" (click)="update()" *ngIf="client.id">Editar</button>

        </div>
      </div>
    </form>

  </div>

</div>
