<app-header></app-header>
<div class="container my-3 wrap">
  <h1>{{title}}</h1>
  <!--<app-directiva></app-directiva>-->
  <!--<app-client></app-client>-->
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
