<button type="button" (click)="setShowCourses()" class="btn btn-primary my-3">Mostrar</button>
<div class="card">
  <div class="card-header">
    Listado de cursos
  </div>
  <ul class="list-group" *ngIf="this.showCourses === true">
    <li class="list-group-item" *ngFor="let course of coursesList">{{course}}</li>
  </ul>
</div>
