<div class="my-2 text-left">
  <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/create']" >Crear</button>
</div>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Fecha</th>
    <th colspan="3" class="text-center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <td>{{client.id}}</td>
    <td>{{client.name}}</td>
    <td>{{client.addres}}</td>
    <td>{{client.email}}</td>
    <td>{{client.created}}</td>
    <td>  <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/create/',client.id]" >Editar</button></td>
    <td>  <button class="btn btn-rounded btn-danger" type="button" (click)="delete(client.id)" >Eliminar</button></td>

  </tr>
  </tbody>
</table>
